<div>
	<a href="#/dprt/all">返回</a>
	<alert ng-repeat="alert in alerts " type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<form name="editform" ng-submit="edit()" novalidate>
		<div ng-class="{'has-error' : editform.name.$invalid && !editform.name.$pristine}">
			名称<input type="text" name="name" ng-model="dprtname" required>
			<p ng-show="editform.name.$invalid && !editform.name.$pristine">error</p>
		<div>
			描述<textarea type="text" name="note" ng-model="dprtnote"></textarea>
		</div>
	    <button type="submit" ng-disabled="editform.$invalid || flag">修改</button>
	</form>
</div>