<div class="header">
	<div class="headerContainer">
		<img src="img/logo.png" class="logo">
		<ul class="naviFirst">
			<li class="naviHover"><a id="moreBtn" class="naviFirstBtn fontNormal">更多&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><img class="naviFirstImg" src="img/pointerDownWhite.png"></li>
			<li class="naviHover"><a class="naviFirstBtn fontNormal" href="http://222.201.132.27/crewManageEvolve/pitch/pitch1-1.html">摆摊系统</a></li>	
			<li class="naviHover"><a class="naviFirstBtn fontNormal" href="#/dprt">部门管理</a></li>			
			<li class="naviHover"><a class="naviFirstBtn fontNormal naviFirstBtnActive" href="#/list">人员管理</a></li>	
			<li class="naviHover"><a class="naviFirstBtn fontNormal" href="#/user">个人资料</a></li>	
		</ul>
		<span class="naviLocation fontHuge">人员管理</span>
		<div id="moreMenu" class="moreMenu" style="display:none;opacity:0;">
			<ul class="moreMenuList">
				<li><a class="menuBtn fontNormal">成就系统</a></li>
				<li><a class="menuBtn fontNormal">梯币系统</a></li>
				<li><a class="menuBtn menuBtnLogout fontNormal" logout-btn ng-disabled="flag">登出</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="sideBar">
		<span class="naviLocationSecondery fontSmall">人员管理</span>
		<ul class="naviSecondery">
			<li class="naviHover"><a class="naviSeconderyBtn fontNormal" href="#/list">全员列表</a></li>
			<li class="naviHover"><a class="naviSeconderyBtn fontNormal" href="#/list/dprt">部门成员</a></li>
			<li class="naviHover"><a class="naviSeconderyBtn fontNormal" href="#/list/recycle/1">部门回收站</a></li>
		</ul>
	</div>
	<div ui-view class="content"></div>
</div>