<div>
	<ul>
			<li><a href="#/user">个人资料</a></li>
				<ul>
					<li><a href="#/user/info">资料详情</a></li>
					<li><a href="#/user/infoedit">修改资料</a></li>
					<li><a href="#/user/pwedit">修改密码</a></li>
				</ul>		
			<li><a href="#list">人员管理</a></li>
				<ul>
					<li><a href="#/list/all/1">全员列表</a></li>
					<li><a href="#/list/dprt">部门列表</a></li>
					<li><a href="#/list/recycle">部门回收站</a></li>
				</ul>		
			<li><a href="#dprt">部门管理</a></li>
				<ul>
					<li><a href="#/dprt/all">所有部门</a></li>
				</ul>
	</ul>

	<button logout-btn>登出</div>

	<div ui-view></div>
</div>