<div class="userInfo">
  <alert ng-repeat="alert in alerts " type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="infoHead">
    <img class="photo" ng-src="{{content.photo}}">
    <div class="title">
      <span class="name fontNormal">{{content.username}}</span>
      <span class="auth fontNormal">{{content.position}} {{content.dprt}}</span>
    </div>
  </div>
  <div class="infoBody">  
    <ul class="infoList">
      <li><span class="infoLabel fontNormal">学号</span><span class="infoValue fontNormal">{{content.studentno}}</span></li>
      <li><span class="infoLabel fontNormal">性别</span><span class="infoValue fontNormal">{{content.gender}}</span></li>
      <li><span class="infoLabel fontNormal">学院</span><span class="infoValue fontNormal">{{content.school}}</span></li>
      <li><span class="infoLabel fontNormal">宿舍</span><span class="infoValue fontNormal">{{content.room}}</span></li>
    </ul>
    <ul class="infoList infoListRight">
      <li><span class="infoLabel fontNormal">长号</span><span class="infoValue fontNormal">{{content.telLong}}</span></li>
      <li><span class="infoLabel fontNormal">短号</span><span class="infoValue fontNormal">{{content.telShort}}</span></li>
      <li><span class="infoLabel fontNormal">邮箱</span><span class="infoValue fontNormal">{{content.email}}</span></li>
    </ul>
  </div>
  <form class="listDetailPosition" ng-show="isEdit(editor)">
    <span class="inputLabel fontSmall">更改职位</span>
    <select class="selectValue fontLarge dprtSelect" ng-model="position" ng-options="x.value as x.name for x in positionopt"></select>
    <button class="longBtn mainBtn fontNormal optionMenuBtn" ng-click="changeposition()" ng-disabled="flag">修改</button>
  </form>
</div>