<div>
	<a href="#list/dprt">返回</a>
	<alert ng-repeat="alert in alerts " type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<form name="addform" ng-submit="add()" novalidate>
		<div ng-class="{'has-error' : addform.studentno.$invalid && !addform.studentno.$pristine && addform.studentno.$error.minlength}">
			学号<textarea type="text" name="studentno" ng-model="studentno" ng-minlength="12" required></textarea>
			<p ng-show="addform.studentno.$invalid && !addform.studentno.$pristine && addform.studentno.$error.minlength">error</p>
		</div>
		<div ng-class="{ 'has-error' : addform.position.$invalid && !addform.position.$pristine }">
		职位<select name="position" ng-model="position" required>
		 		<option value="干事">干事</option>
		 		<option value="主管">主管</option>
		 		<option value="部长">部长</option>
		    </select>
			<p ng-show="addform.position.$invalid && !addform.position.$pristine">error</p>
		</div>
    <button type="submit" ng-disabled="addform.$invalid || flag">提交</button>
    <form>
    <div>尚未完善资料成员
		<ul>
			<li ng-repeat="uncompleted in uncompleteds">
					{{uncompleted.studentno}}
					{{uncompleted.position}}
			</li>		
		</ul>
	</div>
</div>