<div>
	<a href="#list/dprt">返回</a>
	<form name="addform" ng-submit="add()">
		<div ng-class="{'has-error' : addform.studentno.$invalid && !addform.studentno.$pristine && addform.studentno.$error.minlength}">
			学号<textarea type="text" name="studentno" ng-model="studentno" ng-minlength="12" required></textarea>
			<p ng-show="addform.studentno.$invalid && !addform.studentno.$pristine && addform.studentno.$error.minlength">error</p>
		</div>
		职位<select name="position" ng-model="position" required>
		 		<option value="干事">干事</option>
		 		<option value="主管">主管</option>
		 		<option value="部长">部长</option>
		    </select>
		</div>
    <button type="submit" ng-disabled="addform.$invalid">提交</button>
    <form>
</div>