<div>
	<section class="row">
	    <section class="col-md-6" style="margin:50px auto; float:none">
	        <alert ng-repeat="alert in alerts " type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	    </section>
	</section>
	<a href="javascript:history.back();">返回</a>
	<img ng-src="{{content.photo}}">
	<ul>
		<li>{{content.username}}</li>
		<li>{{content.position}}</li>
		<li>{{content.dprt}}</li>
		<li>{{content.studentno}}</li>
		<li>{{content.gender}}</li>
		<li>{{content.school}}</li>
		<li>{{content.room}}</li>
		<li>{{content.telLong}}</li>
		<li>{{content.telShort}}</li>
		<li>{{content.email}}</li>
	</ul>
	<form ng-show="isEdit(editor)">
		更改职位
		<select ng-model="position" ng-options="x.value as x.name for x in positionopt"></select>
		<button  ng-click="changeposition()" ng-disabled="flag">修改</button>
	</form>
</div>