<div class="userInfo">
  <div class="infoHead">
    <img class="photo" ng-src="{{content.photo}}">
    <div class="title">
      <span class="name fontNormal">{{content.username}}</span>
      <span class="auth fontNormal">{{content.position}} {{content.dprt}}</span>
    </div>
  </div>
  <div class="infoBody">  
    <ul class="infoList">
      <li><span class="infoLabel fontNormal">学号</span><span class="infoValue fontNormal">{{content.studentno}}</span></li>
      <li><span class="infoLabel fontNormal">性别</span><span class="infoValue fontNormal">{{content.gender}}</span></li>
      <li><span class="infoLabel fontNormal">学院</span><span class="infoValue fontNormal">{{content.school}}</span></li>
      <li><span class="infoLabel fontNormal">宿舍</span><span class="infoValue fontNormal">{{content.room}}</span></li>
    </ul>
    <ul class="infoList infoListRight">
      <li><span class="infoLabel fontNormal">长号</span><span class="infoValue fontNormal">{{content.telLong}}</span></li>
      <li><span class="infoLabel fontNormal">短号</span><span class="infoValue fontNormal">{{content.telShort}}</span></li>
      <li><span class="infoLabel fontNormal">邮箱</span><span class="infoValue fontNormal">{{content.email}}</span></li>
    </ul>
  </div>
</div>