<div>
  <alert ng-repeat="alert in alerts " type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <form name="editform" ng-submit="pwedit()" novalidate>
    <div class="input inputInfo" ng-class="{'has-error' : editform.oldpw.$invalid && !editform.oldpw.$pristine}" >
      <span class="inputLabel fontSmall">旧密码</span>
      <input class="inputValue fontLarge inputInfo" type="password" name="oldpw" placeholder="当前登录密码" ng-model="oldpw" ng-pattern="/^[0-9a-zA-Z]{6,12}$/" required>
            <p class="inputError fontMin" ng-show="editform.oldpw.$invalid && !editform.oldpw.$pristine && editform.oldpw.$error.pattern">旧密码格式有误</p>
    </div>
        <div class="input inputInfo" ng-class="{'has-error' : editform.newpw.$invalid && !editform.newpw.$pristine}" >
      <span class="inputLabel fontSmall">新密码</span>
      <input class="inputValue fontLarge inputInfo" type="password" name="newpw" placeholder="6-16位数字或者英文字母组成" ng-model="newpw" ng-pattern="/^[0-9a-zA-Z]{6,12}$/" required>
            <p class="inputError fontMin" ng-show="editform.newpw.$invalid && !editform.newpw.$pristine && editform.newpw.$error.pattern">新密码格式有误</p>
    </div>
    <div class="input inputInfo" ng-class="{'has-error' : editform.cfrmpw.$invalid && !editform.cfrmpw.$pristine}" >
      <span class="inputLabel fontSmall">确认密码</span>
      <input class="inputValue fontLarge inputInfo" type="password" name="cfrmpw" placeholder="再次输入新密码" ng-model="cfrmpw" ng-pattern="/^[0-9a-zA-Z]{6,12}$/" required>
            <p class="inputError fontMin" ng-show="editform.cfrmpw.$invalid && !editform.cfrmpw.$pristine && editform.cfrmpw.$error.pattern">确认密码格式有误</p>
    </div>
    <button class="mainBtn shortBtn listBtn fontNormal" type="submit" ng-disabled="editform.$invalid || editform.$pristine || flag">提交</button>
  </form>
</div>