<div>
	<section class="row">
	    <section class="col-md-6" style="margin:50px auto; float:none">
	        <alert ng-repeat="alert in alerts " type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	    </section>
	</section>
	<form name="editform" ng-submit="pwedit()" novalidate>
		<div ng-class="{'has-error' : editform.oldpw.$invalid && !editform.oldpw.$pristine}" >
			<input type="password" name="oldpw" placeholder="old" ng-model="oldpw" ng-pattern="/^[0-9a-zA-Z]{6,12}$/" required>
            <p ng-show="editform.oldpw.$invalid && !editform.oldpw.$pristine && editform.oldpw.$error.pattern">error</p>
		</div>
        <div ng-class="{'has-error' : editform.newpw.$invalid && !editform.newpw.$pristine}" >
			<input type="password" name="newpw" placeholder="new" ng-model="newpw" ng-pattern="/^[0-9a-zA-Z]{6,12}$/" required>
            <p ng-show="editform.newpw.$invalid && !editform.newpw.$pristine && editform.newpw.$error.pattern">error</p>
		</div>
		<div ng-class="{'has-error' : editform.cfrmpw.$invalid && !editform.cfrmpw.$pristine}" >
			<input type="password" name="cfrmpw" placeholder="confirm" ng-model="cfrmpw" ng-pattern="/^[0-9a-zA-Z]{6,12}$/" required>
            <p ng-show="editform.cfrmpw.$invalid && !editform.cfrmpw.$pristine && editform.cfrmpw.$error.pattern">error</p>
		</div>
		<button type="submit" ng-disabled="editform.$invalid || flag">提交</button>
	</form>
</div>